<h1>予定リスト</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>No.</th>
        <th>件名</th>
        <th>開始時刻</th>
    </tr>
    </thead>
<% @posts.each do |post|%>
    <tbody>
    <tr>
        <th scope="row"><%= post['id'] %></th>
        <td><a href="/post/<%= post['id'] %>"><%= post['title'] %></a></td>
        <td><%= post['start_time'] %></td>
        </td>
    </tbody>
<% end %>
</table>



<div class="btn-signup">
    <a type="submit" href='/new_schedule' class="btn btn-primary mb-2">予定を書き込む</a>
</div>
<div class="btn-signup">
    <a type="submit" href='/schedule' class="btn btn-primary mb-2">予定を見る</a>
</div>