<div class="contact-form">
<h2>確認画面</h2>
<p>この内容で登録しました</p>
アカウント名　：<%= @name %><br>
メールアドレス：<%= @email %><br>
パスワード　　：<%= @pass %><br>
<div class="btn-signup"><button type="button" action="/board" class="btn btn-primary mb-2">始める！</button></div>
</div>