<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>




<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Hello <%= @name %></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%# <a class="nav-link" href="/signin" method="post">ログイン</a>
            <a class="nav-link" href="/signup">新規登録</a>
            <a class="nav-link" href="/board">タイムライン</a> %>

            <form action="/signup" class="btn-signup">
              <input class="btn btn-primary mb-2 nav-item" type="submit" value="signup">
            </form>            
            <form action="/signin" class="btn-signup">
              <input class="btn btn-primary mb-2 nav-item" type="submit" value="login">
            </form>            
            <% if session[:user] %>
              <%# ログインされていたらサインアウトボタンを表示 %>
            <form action="/signout" method="post" class="btn-signup">
              <input type="hidden" name="_method" value="DELETE">
              <input class="btn btn-primary mb-2 nav-item" type="submit" value="logout">
            </form>
          <% end %>

            <form action="/board" class="btn-signup">
              <input class="btn btn-primary mb-2 nav-item" type="submit" value="MyPage">
            </form>            
            <form action="/all_schedule" class="btn-signup">
              <input class="btn btn-primary mb-2 nav-item" type="submit" value="AllMember">
            </form>            
            
          </li>
        </ul>
      </div>
    </nav>



    <%= yield %>
</body>
</html>